<div class="pt-3 border rounded border-4 border-primary">
  <%= form_for(@user) do |f| %>
  
    <div class="mt-1 mb-3 text-center">
      <%= image_tag @user.image.url, class: 'rounded-circle mt-3', id: 'preview', size: '150x150' %>
    </div>  
    <div class="text-center">
      <button type="button" class="btn btn-outline-secondary rounded-pill ">  
        <%= f.file_field :image %>
      </button>
    </diiv>
    
    <div class="row"> 
      <div class="col-sm-6 offset-sm-3">
        <div class="mt-5 mb-3">
        <%= render 'layouts/error_messages', model: f.object %>  
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        
        <div class="mb-3">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      
        <div class="mb-3">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      
        <div class="mb-5">
          <%= f.label :password_confirmation, 'パスワード（確認）' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>   
      <div class="d-flex justify-content-center">
  　     <%= f.submit '保存する', class: 'btn btn-primary' %>
  　   </div>
  　</div>   
  <% end %>
</div>
