<ul class="list-unstyled">
  <li class="mb-4 d-flex justify-content-center">
    <div class="mr-3">
      <%= image_tag @user.image.url, class: 'rounded-circle mt-3', id: 'preview', size: '150x150' %>
    </div>  
    <h1 class="m-4 pt-2"><%= @user.name %></h1>
    <div class="m-4 pt-3">
      <%= render 'relationships/follow_button', user: @user %>
    </div>  
  </li>
</ul>
<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿  <span class="badge bg-light text-primary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">いいね  <span class="badge bg-light text-primary"><%= @count_likes %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー中 <span class="badge bg-light text-primary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge bg-light text-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'users', users: @followers %>
  </div>
</div>