<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <ul class="list-unstyled mt-2">
      <% posts.each do |post| %>
        <li class="mb-4 d-flex card">
          <div>
            <div>
              <%= image_tag post.user.image.url, class: 'user_image', alt: "" %>
              <span class="m-3"><%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %></span>
            </div>
            <div class="mt-2" style="overflow-wrap: break-word;"><%= simple_format(post.comment) %></div>
            <div class="text-center mb-3">
              <%= link_to(post_path(post)) do %>
                <%= image_tag post.image.url , alt: "", class: "photo"%>
              <% end %>
            </div>
            <div class="text-secondary row">
              <div class="mt-1 col-3">
                投稿日 <%= post.created_at.strftime('%Y/%m/%d') %>
              </div>   
              <div class="col-3">  
                <%= render 'favorites/favorite_button', post: post %>
              </div>   
              <div class="mt-1 col-3">
                <% if current_user == post.user %><%= link_to "投稿を削除する", post, method: :delete, data: { confirm: "本当にこの投稿を削除してよろしいですか？" }, class: 'btn text-secondary btn-sm p-0' %><% end %>
              </div>  
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>



