<div class="row">
  <div class="col-sm-12 offset-sm-2">
    <ul class="list-unstyled mt-2">
      <li class="mb-3 d-flex ">
        <div>
          <div>
            <%= image_tag @post.user.image.url, class: 'user_image',  alt: "" %>
            <span class="m-3"><%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none" %></span>
          </div>
          <div class="mt-2" style="width: 750px;overflow-wrap: break-word;"><%= simple_format(@post.comment) %></div>
          <%= link_to(post_path(@post)) do %>
            <%= image_tag @post.image.url, alt: ""%>
          <% end %>
          <div class="text-secondary row">
            <div class="mt-1 col-3">
              投稿日 <%= @post.created_at.strftime('%Y/%m/%d') %>
            </div>   
            <div class="col-3">  
              <%= render 'favorites/favorite_button', post: @post %>
            </div>   
            <div class="mt-1 col-3">
              <% if current_user == @post.user %><%= link_to "削除", @post, method: :delete, data: { confirm: "本当にこの投稿を削除してよろしいですか？" }, class: 'btn btn-danger btn-sm rounded-circle p-0' %><% end %>
            </div>  
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>